body {
background-color: white;
display: grid;
grid-template-columns: 60% auto;
grid-template-rows: auto auto;

}

div {
    border: thin solid black;
    margin: 1em;
}

header {
    grid-column: span 2;
    text-align: center;
    
}

h2 {
    text-align: center;
}


#form {
    position: relative;
}

#menge{
    position: absolute;
    top: 85px;
    left: 150px;
    
}



#auswahlsupermarkt {
    position: absolute;
    top: 85px;
    left: 350px;
}

#bestellung {
    position: relative;
}

#button {
    padding: 5px;
    background-color: beige;
    position: absolute;
    right: 5px;
    bottom: 5px;
}