@charset "utf-8";

html {
    background-color:beige;
    border-style: solid;
    position:relative;
    top:0px;
    left:0px;

}

h1{
    text-align: center;
}
p {
    text-align: center;
}
.win{
    position:relative;
    text-align:right;
}

.row{
    text-align: right;   

}

.card{
    display: inline-block;
    width:100px;
    height:100px;
    background-color: rgb(136, 16, 36);
    position: relative;
    top:-4em;
    left:-10em;
   
    }
     

.extra{
    position:relative;
    top:-25em;
    right:-69em;
    
}
  
.extra2{
    position:relative;
    left:4em;
    top:-25em;
}

input{
    text-align: center;
}